.name-author {
    color: white;
    margin: 5px;
    padding-bottom: 10px;
    padding-top: 3px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-variant: small-caps;
}

.detail-author {
    padding: 5px;
    color: white;
}