<div class="block" *ngIf="author">
  <div class="tile">
    <div class="name-author">{{author.authorname}} {{author.authorsurname}}</div>
    <div class="detail-author">{{author.shortbio}}</div>
    <button class="button" [hidden]="!adminCheck()" (click)="navigateToAuthorEdit(author.id)">Edit</button>
  </div>

  <table class="board-list">
    <thead>
      <tr class="board-list-thead">
        <th class="board-list-th" scope="col">#</th>
        <th class="board-list-th" scope="col">Title</th>
        <th class="board-list-th" scope="col">Avegare Score</th>
        <th class="board-list-th" scope="col">Number of votes</th>
        <th class="board-list-th" scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <tr class="board-list-tr" *ngFor="let boardGame of boardgamesOfAuthor; index as i" (click)="navigateTo(boardGame.id)"> 
        <td class="board-list-td">{{ i+1 }}</td>
        <td class="board-list-td">{{ boardGame.boardgamename }} ({{boardGame.publishyear}})</td>
        <td class="board-list-td">{{ getAverageScore(boardGame.id) }}</td>
        <td class="board-list-td">{{ getNumberOfVotes(boardGame.id) }}</td>
        <td class="board-list-td"><img class="image" src="{{boardGame.imageLink}}"></td>
      </tr>
    </tbody>
  </table>
</div>