
<div class="container">
    <div class="table-board-list">
      <table class="board-list">
        <thead>
          <tr class="board-list-tr">
            <th class="board-list-th" scope="col">#</th>
            <th class="board-list-th" scope="col">Name</th>
            <th class="board-list-th" scope="col">Surname</th>
            <th class="board-list-th" scope="col">Biography</th>
            <th class="board-list-th" scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr class="board-list-tr" *ngIf="author">
              <td class="board-list-td">{{ author.id }}</td>
              <td class="board-list-td">{{ author.authorname }}</td>
              <td class="board-list-td">{{ author.authorsurname }}</td>
              <td class="board-list-td">{{ author.shortbio }}</td>
              <td class="board-list-td"><button (click)="navigateTo(author)">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
