.nav-background {
  background-color: #600201;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.title {
  font-family: sans-serif;
  font-size: 16px;
  font-variant: small-caps;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  padding: 13px 16px;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-li {
  float: left;
  border-right: 1px solid #bbb;
}

.nav-a {
  font-family: sans-serif;
  font-size: 14px;
  font-variant: small-caps;
  text-decoration: none;
  color: whitesmoke;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.nav-a:hover {
  background-color:#002861;
  cursor: pointer;
}