<nav class = "nav-background">
  <div>
        <ul class="nav-ul" routerLinkActive="active">
          <li class="nav-li"><a class="nav-a" routerLink="">Home</a></li>
          <li class="nav-li"><a class="nav-a" routerLink="boardGames">Board Games</a></li>
          <li class="nav-li"><a class="nav-a" routerLink="addBoardGame">Add Game</a></li>
          <li class="nav-li"><a class="nav-a" routerLink="authors">Authors</a></li>
          <li class="nav-li"><a class="nav-a" routerLink="addAuthor">Add Author</a></li>
        </ul>
  </div>
</nav>