.nav-background {
  background-color: darkcyan;
}
.nav-ul {
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-li {
  float: left;
  border-right: 1px solid #bbb;
}

.nav-a {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  padding: 14px 16px;
  background-color: darkcyan;
}

.nav-a:hover {
  background-color: white;
}