<div class="block">
  <div class="tile">
    <div class="name">Boardgame form</div>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form">
      <label for="name" class="form-label">Title</label>
      <input type="text" [(ngModel)]="boardGame.boardgamename" class="" id="boardgamename" name="boardgamename"
        placeholder="Enter" required #boardgamename="ngModel">
      <div [hidden]="!boardgamename.pristine" class="alert">Name is required</div>
      <label for="publishyear" class="form-label">Publish Year</label>
      <input type="number" [(ngModel)]="boardGame.publishyear" class="" id="publishyear" name="publishyear"
        placeholder="Enter" required #publishyear="ngModel">
      <div [hidden]="!publishyear.pristine" class="alert">Publish year is required</div>
      <label for="estplaytime" class="form-label">Estimated playtime [min]</label>
      <input type="text" [(ngModel)]="boardGame.estplaytime" class="" id="estplaytime" name="estplaytime"
        placeholder="Enter" required #estplaytime="ngModel">
      <div [hidden]="!estplaytime.pristine" class="alert">Estimated playtime is required</div>
      <label for="players" class="form-label">Possible number of players</label>
      <input type="text" [(ngModel)]="boardGame.players" class="" id="players" name="players" placeholder="Enter"
        required #players="ngModel">
      <div [hidden]="!players.pristine" class="alert">Max number of players is required</div>
      <label for="description" class="form-label">Description</label>
      <input type="text" [(ngModel)]="boardGame.description" class="" id="description" name="description"
        placeholder="Enter" required #description="ngModel">
      <div [hidden]="!description.pristine" class="alert">Max number of players is required</div>
      <label for="forage" class="form-label">Required age for game</label>
      <input type="number" [(ngModel)]="boardGame.forage" class="" id="forage" name="forage" placeholder="Enter" required
        #forage="ngModel">
      <div [hidden]="!forage.pristine" class="alert">Max number of players is required</div>
      <label for="imageLink" class="form-label">Image link</label>
      <input type="text" [(ngModel)]="boardGame.imageLink" class="" id="imageLink" name="imageLink" placeholder="Enter" required
        #imageLink="ngModel">
      <div [hidden]="!imageLink.pristine" class="alert">Image is required</div>
      <button type="submit" [disabled]="!userForm.form.valid" class="button">Submit</button>
    </form>
  </div>
</div>