<div class="block">
  <table class="board-list">
    <thead>
      <tr class="board-list-thead">
        <th class="board-list-th" scope="col">#</th>
        <th class="board-list-th" scope="col">Name</th>
        <th class="board-list-th" scope="col">Surname</th>
      </tr>
    </thead>
    <tbody>
      <tr class="board-list-tr" *ngFor="let author of authors; index as i" (click)="navigateTo(author)">
        <td class="board-list-td">{{ i+1 }}</td>
        <td class="board-list-td">{{ author.authorname }}</td>
        <td class="board-list-td">{{ author.authorsurname }}</td>
      </tr>
    </tbody>
  </table>
</div>