<div *ngIf="scoreOfGame && boardGame && scoresOfGame" class="block">
  <app-board-tile [id]="boardGame.id" [boardgamename]="boardGame.boardgamename" [publishyear]="boardGame.publishyear"
    [estplaytime]="boardGame.estplaytime" [players]="boardGame.players" [description]="boardGame.description"
    [forage]="boardGame.forage" [imageLink]="boardGame.imageLink">
  </app-board-tile>
  <button class="button" (click)="addAReview()" *ngIf="!showAddReview">Add a review</button>
  <div class="tile" *ngIf="showAddReview">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <label class="label" for="scoreOfGame">My score</label>
      <input class="number-field" type="number" [(ngModel)]="scoreOfGame.score" id="score" name="score"
        placeholder="your score 1-10" required ng-min="1" required ng-max="10" required>
      <label class="label" for="review">Write a review for {{boardGame.boardgamename}}</label>
      <textarea class="text-field" type="text" [(ngModel)]="scoreOfGame.review" id="review" name="review"
        placeholder="Add your review..." required>
      </textarea>
      <button class="button" type="submit" [disabled]="!validate(scoreOfGame.score, scoreOfGame.review)">Submit</button>
    </form>
    <button class="button" (click)="addAReview()" *ngIf="showAddReview">Cancel</button>
  </div>
  <app-score-tile *ngFor="let score of scoresOfGame" [id]="score.id" [score]="score.score" [review]="score.review"
    [username]="score.username">
  </app-score-tile>
</div>