<div class="container">
    <div class="table-board-list">
      <table class="board-list">
        <thead>
          <tr class="board-list-tr">
            <th class="board-list-th" scope="col">Boardgame</th>
            <th class="board-list-th" scope="col">Average score</th>
          </tr>
        </thead>
        <tbody>
          <tr class="board-list-tr" > 
            <td class="board-list-td"></td>
            <td class="board-list-td"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>